<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <h1>Add Form Meds</h1>

    <form action="/meds/add" method="post">
        <input type="text" name="name" placeholder="input name"/>
        <input type="text" name="count" placeholder="input count"/>
        <input type="text" name="brand" placeholder="input brand"/>
        {{! <input type=submit value="Add"> }}
        <button type="submit">Add</button>
    </form>
</body>

</html>